:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'DM Sans', sans-serif;
}

html {
  overflow-x: hidden;
}

.mantine-kcpopt,
.mantine-pea73f {
  background-color: transparent;
}

.mantine-kcpopt:focus,
.mantine-kcpopt:focus-within {
  border: 1px #f0f0f0 solid;
}

.mantine-TextInput-input {
  color: white;
}

/* Search Dropdown style */

.dropdown {
  display: inline-block;
  position: absolute;
  height: 80%;
  max-width: 500px;
  top: 70px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}

@media (max-width: 770.98px){
  .dropdown{
    right: 25px;
  }
}

.dropdown-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  transform: scale(1.03);
  cursor: pointer;
}

.dropdown::-webkit-scrollbar {
  width: 0px;
}